[user]
	name = davidsierradz
	email = davidsierradz@gmail.com
[push]
	default = simple
[core]
	excludesfile = /home/neuromante/.gitignore
	autocrlf = input
	editor = vim -u /home/neuromante/dotfiles/vim/.vimrc-mini
[url "https://davidsierradz@github.com"]
	insteadOf = https://github.com
[merge]
  conflictstyle = diff3
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red
	newNormal = green
	newHighlight = green
[color "diff"]
	meta = yellow
	frag = magenta
	commit = yellow
	old = red
	new = green
	whitespace = red
[alias]
	lg = log --graph --date=relative --abbrev=4 --color --decorate --pretty=format:\"%Cred%h%C(yellow)%d %C(bold blue)%an %Creset%s %Cgreen(%ad)%Creset\" --date-order
