[user]
	name = davidsierradz
	email = davidsierradz@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[url "https://davidsierradz@github.com"]
	insteadOf = https://github.com
