@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tabbrowser-tabpanels{
    background-color: rgb(46,54,69) !important;
}

/* Remove the top tabs toolbar. */
#TabsToolbar {
  visibility: collapse;
}

/* Hide the ravigator toolbar. */
:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) {
  max-height: 1px;
  min-height: calc(0px);
  overflow: hidden;
}

:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) #nav-bar {
  max-height: 0;
  min-height: 0!important;
  --tridactyl-auto-show-zone: 10px;
  margin-bottom: calc(-1 * var(--tridactyl-auto-show-zone));
  opacity: 0;
}

/* Hide a bottom border in the navigator toolbar */
#navigator-toolbox::after {
  display: none !important;
}

/* Remove the titlebar. */
#titlebar {
  display: none !important;
}

/* Remove the header for Tree Style Tab sidebar. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/* Remove some kind of sidebar--main-area separator. */
#sidebar-box+#sidebar-splitter {
  display: none!important;
}

/* Set the variables for sidebar width when closed and when opened. */
:root {
  --thin-tab-width: 30px;
  --wide-tab-width: 500px;
}

/* The default sidebar width. */
#sidebar-box {
  overflow: hidden!important;
  position: relative!important;
  transition: all 100ms!important;
  min-width: var(--thin-tab-width)!important;
  max-width: var(--thin-tab-width)!important;
}

/* The sidebar width when hovered. */
#sidebar-box #sidebar,#sidebar-box:hover {
  transition: all 100ms!important;
  min-width: var(--wide-tab-width)!important;
  max-width: var(--wide-tab-width)!important;
}

/* For right sidebar change 'margin-right' to 'margin-left' */
#sidebar-box:hover {
  margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width))*-1)!important;
}
