/* Scrollbar colors and width - applied globally */
@namespace url("http://www.w3.org/1999/xhtml");
:root{
    scrollbar-color: #0079D3 #2E3645 !important;
    scrollbar-width: thin !important;
}

* {
    scrollbar-width: thin !important;
}

@-moz-document url("about:home"),url("about:blank"),url("about:newtab"),url("about:privatebrowsing") {
    body{background-color: rgb(46,54,69) !important}
}

@-moz-document url-prefix("about:"){
    xul|page,
    xul|scrollbar{
        scrollbar-color: #0079D3 #2E3645;
        scrollbar-width: thin;
    }
}

/*! Alters the webextension Tree Style Tab
  IMPORTANT: change the Internal UUID all BOTH locations */
@-moz-document url-prefix("moz-extension://7365b718-00f9-4aeb-bc32-706c756d3048/") {
  /* CUSTOM */
  /* Change styling of pending (unloaded) tabs */
  .tab.discarded {
    opacity: 0.7 !important;
  }
  .tab.discarded .label-content {
    color: #999 !important;
  }
  .tab.unread .label-content {
    font-style: italic !important;
  }
  .tab.unread {
    background-color: red !important;
  }
  .tab {
    height: 32px;
  }
  .tab.active {
    height: 32px !important;
    background-color: #193B99 !important;
  }
  .tab.active .label {
    font-weight: bold;
    font-size: 14px;
  }
  .tab.active .twisty,
  .tab.active .label,
  .tab.active .counter {
    color: #fff;
  }
  .tab:hover {
    background: #193B99 !important;
    opacity: 1;
  }
  /* Hide close buttons on tabs. */
  .tab:not(:hover) .closebox {
    display: none;
  }
  .tab .closebox::before {
    border-radius: 10px; /* vary between 0 and 10 to make the background rounder */
  }
  /* I find these work well on my monitor (slightly darker than the normal tab color) but YMMV */
  .tab .closebox:hover::before {
    background: #c8c8c8;
    opacity: 1; /* defaults to 0.1 */
  }
  .tab.active .closebox:hover::before {
    background: #96afc8;
  }
  .tab.last-active {
    background-color: #997719 !important;
  }

  #all-tabs li.tab.last-active.unread {
    background-color: #B55712 !important;
  }

  /* Hide .twisty and adjust margins so favicons have 7px on left. */
  .tab .twisty {
    visibility: hidden!important;
    margin-left: -12px!important;
  }
  /* Push tab labels slightly to the right so they're completely hidden in collapsed state */
  .tab .label {
    margin-left: 8px!important;
  }
  vbox#sidebar-box.chromeclass-extrachrome {
    border: 0!important;
  }
  /* Hide 'new tab' button. */
  .newtab-button {
    visibility: hidden!important;
  }
}
