snippet cb "codeblock"
\`\`\`${1}
${VISUAL}${0}
\`\`\`
endsnippet
snippet cbjs "javascript codeblock"
\`\`\`javascript
${VISUAL}${0}
\`\`\`
endsnippet
snippet fld "marker fold"
<!--${1}{{{-->
${VISUAL}${0}
<!--}}}-->
endsnippet
