#
# ~/.xprofile
#
# sourced by /etc/lxdm/Xsession
#

if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# Environment variables
#
#export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
#export NVIM_GTK_NO_HEADERBAR=1

# NPM
export PATH=~/.npm-global/bin:$PATH

export LS_COLORS=`cat ~/dotfiles/Xorg/colors`

# fzf + ag configuration
export FZF_DEFAULT_COMMAND='ag -il --nocolor --nogroup --path-to-ignore ~/.agignore --skip-vcs-ignores --hidden -g ""'
#export FZF_DEFAULT_COMMAND='ag --nocolor -g ""'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
#export FZF_ALT_C_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_DEFAULT_OPTS='--no-height --no-reverse'
export FZF_CTRL_T_OPTS="--preview '(highlight -O ansi -l {} 2> /dev/null || cat {} || tree -C {}) 2> /dev/null | head -200'"
#export FZF_CTRL_T_OPTS="--select-1 --exit-0"
export FZF_CTRL_R_OPTS="--preview 'echo {}' --preview-window down:3:hidden:wrap --bind '?:toggle-preview'"
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"

# Other stuff

# Switch Caps Lock for Ctrl if using as a modifier and Esc if pressed and released.
/usr/bin/setxkbmap -model 'pc105' -layout 'us' -variant 'altgr-intl' -option 'caps:ctrl_modifier' && \
    /usr/bin/xcape -t 2000 -e 'Caps_Lock=Escape' &

# Start keynav-git
/usr/bin/keynav

#xset b off
