#
# ~/.xprofile
#
# sourced by /etc/lxdm/Xsession
#

if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# Environment variables
#
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export NVIM_GTK_NO_HEADERBAR=1

# Other stuff
#

# Switch Caps Lock and Esc.
#/usr/bin/setxkbmap -option "caps:swapescape"

# Switch Caps Lock for Ctrl if using as a modifier and Esc if pressed and released.
/usr/bin/setxkbmap -option 'caps:ctrl_modifier' && /usr/bin/xcape -e 'Caps_Lock=Escape' &

# Start keynav-git
/usr/bin/keynav

# Alt-Gr+hjkl to arrow keys.
xmodmap -e "keycode 43 = h H NoSymbol NoSymbol Left"
xmodmap -e "keycode 44 = j J NoSymbol NoSymbol Down"
xmodmap -e "keycode 45 = k K NoSymbol NoSymbol Up"
xmodmap -e "keycode 46 = l L NoSymbol NoSymbol Right"

# Alt-Gr+iop to control sound.
#xmodmap -e "keycode 31 = i I i I XF86AudioLowerVolume Iacute iacute"
#xmodmap -e "keycode 32 = o O o O XF86AudioRaiseVolume Oacute oacute"
#xmodmap -e "keycode 33 = p P p P XF86AudioMute Odiaeresis odiaeresis"

# Alt-Gr+m to enter.
xmodmap -e "keycode 58 = m M m M Return"

# Use Right Shift (Shift_R) to Alt-Gr+a (ä).
xmodmap -e "keycode 62 = adiaeresis"
